/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    direction: column;
  }
  .chart-container {
    flex-direction: none;
  }
}

.container {
  display: flex;
  margin: 1% 0px;
}

.chart-container {
  height: 500px;
  display: flex;
  flex-grow: 0.5;
}
.top-container {
  display: flex;
  flex-direction: row;
}

.right-container {
  flex-grow: 0.5
}

.container {
  margin:15px;
}
