/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .container {
    direction: column;
  }
}

.container {
  display: flex;
  margin: 1% 0px;
}
.left-container {
  width: 48%;
}
.right-container {
  width: 48%;
}
